.album-art{
    width: 250px;
    height: 280px;
}

.result-container{
    width: 330px;
    height: 450px;
    position: absolute;
    top: 50%; left: 50%;
    margin: -225px 0 0 -165px;
}

.backBtnContainer {
    height: 100%;
    position: relative;
}

.backBtn {
    position:absolute;
    bottom:0;
    left:0;
}

